.button {
  padding: 6px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition:
    background 0.3s,
    transform 0.2s;
}

.button:hover {
  transform: scale(1.05);
}

.addButtonWrapper button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  background: var(--sc);
  color: var(--wht);
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.9rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.2s;
  text-align: center;
  margin-top: 10px;
}

.button.edit {
  background-color: var(--pc);
  color: var(--bc);
}

.button.delete {
  background-color: var(--sc);
  color: var(--bc);
}

.addProductButtonBottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: var(--dg);
  color: var(--sc);
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.9rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.2s;
  text-align: center;
}

.addProductButtonBottom:hover {
  background: var(--sc);
  transform: scale(1.05);
}
