.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addToCart {
  background: var(--sc);
  color: var(--pc);
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.9rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.2s;
  width: auto;
  align-self: center;
  min-width: 300px;
  margin-top: 1rem;
  color: var(--wht);
}

.addToCart:hover {
  background: var(--pc);
  transform: translateY(-2px);
  color: var(--sc);
}
