html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

/* Make sure container never overflows */
.container {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Main app container */
.appContainer {
  max-width: 1050px; /* max width for desktop */
  margin: 0 auto; /* center horizontally */
  padding: 0 15px; /* spacing on mobile */
  width: 100%; /* full width on small screens */
  min-height: 100vh; /* full viewport height */
  display: flex;
  flex-direction: column;
}

:root {
  --pc: lightgray  ;
  --sc: black;
  --tc: black;
  --bc: #f9f9f9;
  --lg: #ededed;
  --dg: #a9a9a9;
  --red: red;
  --blk: #555;
  --wht: #fff;
  --grn: green;
  --blu: blue;

  --pf: 'Dancing Script';
  --sf: 'Inter', var(--sf);
}
