.container {
  width: 100%;
  padding: 1rem;
  background-color: var(--lg);
}

/* Top Banner */
/* Top Banner */
.topBanner {
  position: relative;
  height: 60vh;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 8px 20px var(--blk);
}

/* Banner image (full background) */
.bannerImage {
  z-index: 1;
}

/* Text overlay */
.textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: var(--wht);
  background: var(--blk);
  border-radius: 8px;
}

.textWrapper h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 4px var(--blk);
  color: var(--sc);
}

.textWrapper p {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* Banner image */
.bannerImage {
  flex: 2;
  position: relative;
  min-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: inset 0 0 50px var(--blk);
}

/* Product Card */
.productCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  background-color: var(--lg);
  border: 1px solid var(--dg);
  box-shadow: 0 5px 15px var(--blk);
}

.productCard:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 10px 25px var(--blk);
}

.productImage {
  position: relative;
  width: 100%;
  height: 250px;
}

.productInfo {
  padding: 1rem;
  text-align: center;
}

.addToCartBtn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--sc);
  color: var(--wht);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background 0.3s;
}

.addToCartBtn:hover {
  background-color: var(--sc);
}

/* New Product */
.newProduct {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--pc);
  border-radius: 8px;
  box-shadow: 0 5px 15px var(--blk);
}

/* Hot Items Grid */
.hotItems {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--pc);
  border-radius: 8px;
  box-shadow: 0 5px 15px var(--blk);
}

.hotGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .topBanner {
    height: 40vh;
  }

  .textWrapper h1 {
    font-size: 1.2rem;
  }

  .textWrapper p {
    font-size: 0.9rem;
  }
}
