.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bc);
  z-index: 9999;
}

.ring {
  position: absolute;
  width: 200px;
  height: 200px;
}

.ringImg {
  object-fit: contain;
}

.inner {
  position: absolute;
  width: 200px;
  height: 200px;
}

.innerImg {
  object-fit: contain;
}

.message {
  margin-top: 420px;
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--blk);
}
