.container {
  display: flex;
  justify-content: center;
  padding: 5rem;
  font-family: var(--sf);
}

.formBox {
  padding: 2rem;
  border: 1px solid var(--lg);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 8px var(--blk);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.input {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid var(--lg);
}

.button {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: var(--bl);
  color: var(--wht);
  cursor: pointer;
}

.googleButton {
  margin-top: 1rem;
  padding: 0.75rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--blu);
  background-color: var(--wht);
  color: var(--blu);
  cursor: pointer;
}

.signupText {
  margin-top: 1rem;
  text-align: center;
}
